i {
    font-family: fontawesome !important;
}
.iconPlacement{
    position: relative;
    left: -5px;
    top: 5px;
}
//AUTO COMPLETE
 /* Formatting search box */
 .search-box{
    width: 300px;
    position: relative;
    display: inline-block;
    font-size: 14px;
    input[type="text"]{
        height: 32px;
        padding: 5px 10px;
        border: 1px solid #CCCCCC;
        font-size: 14px;
        width: 100%;
        box-sizing: border-box;
    }
    .result{
        width: 100%;
        box-sizing: border-box;
        position: absolute;        
        z-index: 999;
        top: 100%;
        left: 0;
    }
}
/* Formatting result items */
.result
{
    p{
        margin: 0;
        padding: 7px 10px;
        border: 1px solid #CCCCCC;
        border-top: none;
        &:hover{
            background: #f2f2f2;
        }
    }
    
} 
